/*Сброс стилей*/
html, body {padding: 0;margin: 0;}
html {font-size: 1em;}
body {font-size: 100%;}
a img, :link img, :visited img {border: 0;}

h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.2em;}

body {font-family: verdana, arial, sans-serif; padding: 10px; color:#bbb; background: #000;}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: lightgreen;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
